body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box{
  position: absolute;
  width: 1440px;
  height: 199px;
  left: 0px;
  top: 0px;

background: linear-gradient(180deg, #4151E8 0%, rgba(65, 81, 232, 0) 100%);
}